BOT_TOKEN=your_bot_token_here
CHANNEL_ID=-1001234567890
# Public channel: set username (without @) to get a link on the Posted button
# Private channel: leave unset
# CHANNEL_USERNAME=yourblogchannel
WATERMARK_TEXT=@yourblogchannel
